api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  traefik:
    address: ":8080"

providers:
  file:
    filename: /etc/traefik/dynamic.yaml
    watch: true

ping:
  entryPoint: traefik

log:
  level: INFO

accessLog: {}
