{{- if eq .Values.backend.rollout.strategy "canary" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "phasor.backend.fullname" . }}-canary
  labels:
    {{- include "phasor.backend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "phasor.backend.selectorLabels" . | nindent 4 }}
{{- end }}
