apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "phasor.frontend.fullname" . }}
  labels:
    {{- include "phasor.frontend.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- .Values.frontend.config | toYaml | nindent 4 }}
