{{range .Instances}}
<div class="tile" style="border-left: 6px solid {{.Color}};">
    <h3>Instance #{{.Index}}</h3>
    <div>Version: {{.Info.Version}}</div>
    <div>Hostname: {{.Info.Hostname}}</div>
    <div>Uptime: {{.Info.Uptime}}</div>
</div>
{{end}}
