name: reference-service-backend

replicaCount: 2

image:
  repository: reference-service-backend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

resources:
  requests:
    cpu: 250m
    memory: 128Mi
  limits:
    memory: 256Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

env:
  region: ""
  environment: ""

config:
  log_config:
    level: "info"
    format: "json"
    add_source: false
